* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul, li, a {
    width: 100%;
    text-align: center;
    margin: auto;
}

.dropdown-menu.show {
  display: block;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid;
}


/* td, tr {
  background-color: white;
} */


#grid {
  display: inline-block;

  /* border: 1vh solid;
  background-color: black; */
}

#gridSection {
  margin-top: 10vh;
  text-align: center;
}

.start {
  background-image: url("images/start.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  border-color: #25c28166;
}

.target {
  background-image: url("images/target.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  border-color: #25c28166;
}

.unvisited, .visited {
  border-color: #25c28166;
}

.wall {
  animation-name: wallAnimation;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: running;
  /* border: 1px solid;
  border-color : black; */
}

.weight {
  background-image: url("images/weight3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  border-color: #25c28166;
  animation-name: weightAnimation;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: running;
}

.search {
  animation-name: searchAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: running;
}

.instantSearch {
  background-color: #23cca5c4;
  border-color: #25c28166;
  transform: scale(1);  /* DO NOT REMOVE ESSENTIAL FOR BORDER COLOR FOR SOME REASON??*/
}

.instantPath {
  background-color: yellow;
  border-color: yellow;
}

.path {
  background-color: yellow;
  border-color: yellow;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes searchAnimation {
  0% {
    transform: scale(0.3);
    /* background-color: #ff6464; */
    /* background-color: #030859; */
    /* background-color: #280359; */
    background-color: #253b6e;
    border-radius: 100%;
  }

  50% {
    /* background-color: #ff8264; */
    /* background-color: #6d3dbf; */
    /* background-color: #3d41bfeb; */
    background-color: #1f5f8b;
  }

  75% {
    transform: scale(1.2);
    /* background-color: #ffaa64; */
    /* background-color: #e238f5; */
    /* background-color: #0b7c62c4; */
    /* background-color: #3cb3ebc4; */
    background-color: #1891ac;
    border-radius: 20%;
  }

  100% {
    transform: scale(1);
    background-color: #23cca5c4;
    border-color: #25c28166;
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: black;
    border: none;
  }

  75% {
    transform: scale(1.2);
    background-color: black;
    border: none;
  }

  100% {
    transform: scale(1);
    background-color: black;
    border: 1px solid;
    border-color : black;
    /* border: none; */
  }
}

@keyframes weightAnimation {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
